#survey-results {
  display: none;
  font-size: 25px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  border: 4px solid white;
  margin-bottom: 100px;
  background-color: hotpink;
  border-radius: 10px;
}

.alert {
  display: none;
  margin-top: 15px;
}

body {
  background-color: #B4ADEA;
}

.container {
  width: 50%;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
}

.jumbotron {
  background: url("../img/walrus.jpg") no-repeat center center;
  background-size: cover;
  color: #AA3355;
  margin-top: 20px;
  padding: 100px;
}

.btn {
  background-color: hotpink;
  border: none;
  color: white;
}

.btn:hover {
  background-color: white;
  color: hotpink;
  font-weight: bold;
}

input[type='radio']:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  top: -2px;
  left: -2px;
  position: relative;
  background-color: hotpink;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

#color {
  height: 60px;
}

.carousel-inner {
  height: 400px;
}

.carousel-inner h1 {
  color: #AA3355;
  font-size: 50px;
}

.carousel-indicators {
  margin-bottom: -15px;
}
