#survey-results {
  display: none;
  color: white;
}

.alert {
  display: none;
  margin-top: 15px;
}
body {
  background-color: #B4ADEA;
}

.container {
  width: 50%;
}

h1 {
  text-align: center;
  font-family: sans-serif;

}

.jumbotron {
  background: url("../img/walrus.jpg") no-repeat center center;
  background-size: cover;
  color: hotpink;
}
